td{
    cursor: pointer
}
.board {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
    width: 60px;
    height: 60px;
    background: rgb(255, 196, 0);
}

.board td {
    min-width: 55px;
    height: 60px;
    transition: all .6s;
}

.counter {
    text-align: center;
    font-size: 50px;
}

.difficulty {
    color: white;
    background: rgb(77, 72, 72);
    text-align: center;
    padding: 10px;
    margin: 30px auto 30px auto;
}

.difficulty th {
    font-weight: normal;
}

.board td:hover {
    background: rgb(255, 238, 0);
}

.easy {
    background: green;
}

.medium {
    background: rgb(241, 117, 34);
}

.hard {
    background: red;
}